@page
@model DALTWNC_QUIZ.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - QuizSystem</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="register-container">
        <h3>Quên mật khẩu</h3>

        <form method="post">
            <input type="text" class="form-control" placeholder="Email hoặc tên đăng nhập" asp-for="Input.EmailOrUsername" required />
            <input type="password" class="form-control" placeholder="Mật khẩu mới" asp-for="Input.NewPassword" required />
            <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" asp-for="Input.ConfirmPassword" required />

            <button type="submit" class="btn btn-primary mt-2">Đổi mật khẩu</button>

            <div class="login-link">
                <span>Nhớ mật khẩu?</span> <a asp-page="Login">Đăng nhập ngay.</a>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                        Swal.fire({
                            toast: true,
                        position: 'top-end',
                        icon: 'success',
                        title: '@TempData["SuccessMessage"]',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true
                                });
            </text>
        }

        else if (TempData["ErrorMessage"] != null)
        {
            <text>
                        Swal.fire({
                            toast: true,
                        position: 'top-end',
                        icon: 'error',
                        title: '@TempData["ErrorMessage"]',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true
                                });
            </text>
        }
        });
    </script>
</body>
</html>
