@page "{id:int?}"
@model DALTWNC_QUIZ.Pages.Admin.Subject.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa Môn học";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]: @Model.Subject.SubjectName</h1>
    <div class="mt-4">
        <a href="javascript:void(0);" onclick="history.back();" class="btn btn-outline-secondary btn-sm" title="Quay lại">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h5 class="mb-0">Thông tin Môn học</h5>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Subject.SubjectID" />

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Subject.SubjectName" class="form-label">Tên Môn học</label>
                    <input asp-for="Subject.SubjectName" class="form-control" required />
                    <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Subject.ParentID" class="form-label">Môn học cha (nếu có)</label>
                    <select asp-for="Subject.ParentID" asp-items="@Model.ParentSubjectSL" class="form-select">
                        <option value="0">-- Không có môn cha --</option>
                    </select>
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-save me-2"></i> Cập nhật
                </button>
                
            </div>
        </form>
    </div>
</div>